{% block body %}
<section class="news">
    <div>
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laborum ea mollitia necessitatibus itaque nostrum architecto nulla, ipsum quaerat repellat eaque. Dignissimos facilis porro, inventore nam ratione exercitationem totam numquam.</p>
    </div>
    <div>
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laborum ea mollitia necessitatibus itaque nostrum architecto nulla, ipsum quaerat repellat eaque. Dignissimos facilis porro, inventore nam ratione exercitationem totam numquam.</p>
    </div>
    <div>
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laborum ea mollitia necessitatibus itaque nostrum architecto nulla, ipsum quaerat repellat eaque. Dignissimos facilis porro, inventore nam ratione exercitationem totam numquam.</p>
    </div>
</section>
{% endblock %}