{% block body %}
<section class="news">
    {% for blogPost in blogPosts %}
        <div>
            <h2>{{ blogPost.titre }}</h2>
            <p>{{ blogPost.contenu|u.truncate(150, '...', false) }}</p>
            <p>Crée le : {{ blogPost.createdAt|date('d/m/Y') }}</p>
        </div>    
    {% endfor %}
</section>
{% endblock %}