{% block body %}
    <section class="banner">
        <div class="banner__container">
            <h1>Atoine Bernabeu</h1>
            <p>Artiste Peintre à Chomérac, au coeur de l'Ardèche</p>
            <a href="#"><button type="button" class="btn btn-primary">Portfolio</button></a>
        </div>
    </section>
{% endblock %}