{% block footer %}
<footer>
    <div class="footer-menu">
        <h2>Menu</h2>
        <a href="{{ path('realisations') }}">Réalisation</a>
        <a href="{{ path('actualities') }}">Actualités</a>
        <a href="#">Portfolio</a>
        <a href="{{ path('APropos') }}">A Propos</a>
        <a href="#">Contact</a>
    </div>
    <div class="footer-info-peintre">
        <p>Artiste Peintre à Chomérac au coeur de l'Ardèche.</p>
        <p>Je réalise mes peinture à l'aquarelle directement à l'atelier ou en pleinne nature !</p>
    </div>
    <p class="legal-mention">Mention légales</p>
    <p class="RGPD">RGPD</p>
    </div>
</footer>
{% endblock %}