{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}
<h1>Portfolio</h1>
<p>Mes meilleur ouevre</p>
<section>
    {% for categorie in categories %}
        {% set peinture = categorie.peintures|last %}
        <a href="{{ path('portfolio_categorie', { 'slug': categorie.slug }) }}">
            <div> 
                <img src="{{ vich_uploader_asset(peinture, 'imageFile') }}" alt="" width="200" height="200">
                <p>{{ categorie.nom }}</p>    
                <p>{{ categorie.description }}</p>            
            </div>
        </a>
    {% endfor %}
</section>
{% endblock %}
 