{% extends 'base.html.twig' %}

{% block title %}Réalisations{% endblock %}

{% block body %}
<section class="realisation">
    <div class="realisation__title">
        <h1>Dernières actualitées</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint sapiente sunt rem reiciendis adipisci alias magni.</p>    
    </div>
    {% for actuality in actualities %}
        <div class="realisation__container">
            <h2>{{ actuality.titre }}</h2>
            <p>{{ actuality.contenu }}</p>
            <p>{{ actuality.createdAt|date('d/m/Y') }}</p>
        </div>
    {% endfor %}
    <div>
        {{ knp_pagination_render(actualities, 'base/pagination.html.twig') }}
    </div>
</section>
{% endblock %}
