{% extends 'base.html.twig' %}

{% block title %}Réalisations{% endblock %}

{% block body %}
    <section>
        <h1>{{ actuality.titre }}</h1>
        <p>{{ actuality.contenu }}</p>
        <p>{{ actuality.createdAt | date('d/m/Y') }}</p>
    </section>
{% endblock %}